@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

  :root{
    --green:#065a60;
    --light-green:#248277;
    --black:#2f3e46;
    --light-color:#33415c;
    --box-shadow: .5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow: .4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid var(--green);
  }
  *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .3s ease-out;
    text-decoration: none;
  }
  html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
  }
  section{
    padding: 7rem 8%;
  }
  section:nth-child(even){
    background: #f5f5f5;
  }
  .heading{
    text-align: center;
    padding-top: -.5rem;
    padding-bottom: 1.5rem;
    text-overflow: var(--text-shadow);
    text-transform: uppercase;
    color: var(--light-color);
    font-size: 5rem;
    letter-spacing: .4rem;
    text-shadow: var(--text-shadow);
  }
  .heading span{
    color: var(--light-green);
    text-transform: uppercase;
  }
  .btn{
    
    align-items: center;
    padding: .5rem;
    margin-top: 2.5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 2rem;

  }
  .btn span{
    padding: .4rem  .6rem .4rem .6rem;
    justify-content: center;
    border-radius: .5rem;
    background: var(--green);
    color: white;
    margin-left: .6rem;
  }
  .btn:hover{
    background: var(--green);
    color: white;
    
  }

  .btn span:hover{
    background: white;
    color: var(--green);
    margin-left: 1rem;
  }

  .header {
    padding: 1rem 7%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0.5rem .3rem #40916C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eee;
    
}
.header .logo {
    font-size: 3rem;
    color: var(--black);
    display: flex;
    align-items: center;
    .heart{
        color: var(--light-green);
        margin-right:  1rem;

    }
}


.header .logo i{
    color: var(--light-green);
    
    
}
.header .logo span{
  color: var(--light-green);
} 
.header .navbar a{
  font-size: 2rem;
  color: var(--light-color);
  margin-left: 2rem;
  &.booking_mobile{
    color: white;
  }
  
  & .booking{
    right:0;
  }
  
}


.header .navbar a:hover:not(:last-child){
  font-weight: 500;
    color: var(--light-green);
}
.header .booking{
  background: var(--light-green);
  padding: .8rem;
  border-radius: .5rem;
  font-size: 1.4rem;
  color: #eee;
  
}
.header .booking:hover{
  scale: 1.1;
  transition: .7s;
}
.booking_mobile
  {
    background: var(--light-green);
    color: #eee;
    border-radius: 1rem;
    padding:1rem;
  }
#menu-btn{
  font-size: 2.5rem;
  border-radius: .5rem;
  background: #eee;
  color: var(--green);
  padding: 1rem 1.5rem;
  cursor: pointer;
  display: none;
}

.home {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 10rem;
}
 .background-container1{
  background-image: url("/public/images/hom1.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}
.home .content{
   margin-left: 2em;
  flex: .46 .5 20rem;
}
.home .content h3{
  font-size: 5.8rem;
  color: var(--black);
  line-height: 2;
  text-shadow: var(--text-shadow);
}
.home .content p{
  text-align: left;
  font-size:2rem;
  color: var(--light-color);
  line-height: 2;
  padding: 1rem ;
}

.icons-box{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .icons-box .icons:hover{
    background:var(--light-green);
    scale:1.05;
    
  
  }
  
  .icons-box .icons{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    text-align: center;
    padding: 2.5rem;
  }
  .icons-box .icons {
    font-size: 5rem;
    color: var(--black);
    padding-bottom: .7rem;
  }
  
  .icons-box .icons h3{
    font-size: 4.5rem;
    color: var(--black);
    padding: .5rem 0;
    text-shadow: var(--text-shadow);
  }
  .icons-box .icons p{
    font-size: 3rem;
    color: var(--light-color);
    padding: .5rem 0;
  }
  .services .box-container{
    display: grid;
    gap: 2rem;
    column-count: auto;
    grid-template-columns: repeat(3,minmax(25rem,2fr));
    position: relative;
  }
  .services .box-container .box{
     background: #fff;
     border-radius: .5rem;
     box-shadow: var(--box-shadow);
     border:var(--border);
     padding: 2.2rem;
     
  }
  .services .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
  }
  .services .box-container .box p{
    color: var(--black);
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem;
  }

  .about .main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .about .main .image{
    flex: 1 1 45rem;
    top: 0;
  }
  .about .main .image img{
    width: 100%;
  }
  .about .main .content{
    flex: 1 1 45rem;
  }
  .about .main .content h3{
    font-size: 5rem;
    color: var(--black);
     top:0;
    color: var(--black);
   line-height: 6rem;
  }
 
  .about .main .content p{
    font-size: 1.59rem;
    color: var(--light-color);
    padding: .5rem 0;
    margin-bottom: .5rem;
    padding:1rem;
  }

  .swap-wrp {
    width: 100%;
    height: 100%;
  }

  .SwiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swaper-image img {
    display: block;
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  .img-content{
    padding: 1rem 0;
  }
  .img-content h2{
    font-size: 2rem;
    color: var(--black);
    text-align: center;
  }
.container .card .slide {
    width:100%;
    height: 60%;
    transition: 0.5s;
}

.container .card .slide.slide1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 1;
    transition: .7s;
    transform: translateY(100px);
}

.container .card:hover .slide.slide1{
    transform: translateY(0px);

}

.container .card .slide.slide2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-sizing: border-box;
    transition: .8s;
    transform: translateY(-110x);
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container .card:hover .slide.slide2{
    transform: translateY(0);
}

.container .card .slide.slide2::after{
    content: "";
    position: absolute;
    width: 30px;
    height: 4px;
    bottom: 5px;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
}
.container .card .slide.slide2 .content h2 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 2rem;
    color: var(--black);
    text-align: center;
} 

.background-container {
  background-image: url("/public/images/book.jpg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  
}
/* Add these styles to your main.css or another appropriate CSS file */
/* Add these styles to your main.css or another appropriate CSS file */
.form {
  display: flex;
  justify-content: flex-end; /* Align form to the right */
}

.form-container {
  width: 500px;
  padding: 20px;
  margin:10px ;
  border: var(--border);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  background-color: white;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  grid-column: span 2; 
  text-align: right; 
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: var(--border);
  border-radius: 3px;
}

.form-submit {
  background-color: var(--light-green);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: var(--green);
}

.footer .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0rem, 1fr));
  gap: 2rem;
}

/* Adjusted footer item style */
.footer .footer-content .foot {
  display: flex;
  flex-direction: column;
  padding: 1.5rem; /* Adjusted padding value */
}

/* Adjusted footer heading style */
.footer .footer-content .foot h3 {
  font-size: 2rem; 
  color: var(--black);
  padding: 1rem 0;
}

.footer .footer-content .foot a {
  display: block;
  font-size: 2rem;
  color: var(--light-color);
  padding: 1rem 0;
}


.footer .footer-content .foot a .foot-i {
  padding-right: 0.3rem; 
  color: var(--green);
}


.footer .footer-content .foot a:hover .foot-i {
  padding-right: 0.1rem; 
}


.footer .credit {
  padding: 1.5rem; 
  padding-top: 2.5rem; 
  margin-top: 2.5rem; 
  text-align: center;
  font-size: 1.8rem; 
  color: var(--light-color);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}



  




































  /*media queries*/
@media(max-width:991px){
    html{
        font-size: 55%;

    }
    .header{
        padding: .6rem;
    }
}
section{
  padding: 4rem;
}

@media(max-width:760px){
  #menu-btn{
    display: initial;
  }
  .header .navbar{
    position: absolute;
    top:115%;
    right: 2rem;
    border-radius: .5rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
    transform: scale(0);
    opacity: 0;
    transform-origin: top right;
    transition: none;
  }
  .header .booking{
    display: none;
  }
  
  
  .header .navbar.active{
    transform: scale(1);
    opacity: 1;
    transition: .2s ease-out;
  }
  .header .navbar a{
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: 2.5rem;
  }
  
  .home .content{
    margin-left: 1em;
   flex: 1 .4 20rem;
 }
 .home .content h3{
   font-size: 3rem;
   color: var(--black);
   line-height: 2;
   text-shadow: var(--text-shadow);
 }
 .home .content p{
   text-align: left;
   font-size:1.9rem;
   color: var(--light-color);
   line-height: 2;
   padding: 1rem ;
 }
 .about .about_title{
  text-align: center;
 }
  .services .box-container{
    display: grid;
    gap: 2rem;
    column-count: auto;
    grid-template-columns: repeat(auto-fit,minmax(25rem,2fr));
  }
  
}



