:root{
  --green:#065a60;
  --light-green:#248277;
  --black:#2f3e46;
  --light-color:#33415c;
  --box-shadow: .5rem .5rem 0 rgba(22,160,133,.2);
  --text-shadow: .4rem .4rem 0 rgba(0,0,0,.2);
  --border:.2rem solid var(--green);
}
#review {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 10rem;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    
  }
  .heading {
    text-align: center;
    padding-top: -.5rem;
    padding-bottom: 1.5rem;
    text-overflow: .4rem .4rem 0 rgba(0,0,0,.2);;
    text-transform: uppercase;
    color:#248277;
    font-size: 5rem;
    letter-spacing: .4rem;
    text-shadow: .4rem .4rem 0 rgba(0,0,0,.2);;
  }
  .heading h1{
    color: #248277;
    text-transform: uppercase;
  }
  .swiper {
    width: 100%;
    height:80%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }
  
  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .rcontent {
    width: 70%;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }
  .rcenter{
    width:100%;
    height:100vh ;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
  }

